@page
@model IndexModel
@{
    ViewData["Title"] = "Stellaris Random Empire Generator (Phoenix 4.0.1)";
}
<div class="row">
    <div class="col-sm text-center">
        <h3>@ViewData["Title"]</h3>
        <a style="color:forestgreen" class="font-weight-bold" href="#">Click here to donate to the poor pop maintaining this site!</a>
    </div>
</div>
<div class="row w-100 mb-2">
    <div class="col w-100" id="ps_dlc">
        <select multiple="multiple" id="dlcselect">
            @foreach (var dlc in Model.AvailableDLC)
            {
                <option value="@dlc" selected="@(Model.SelectedDLC.Contains(dlc) ? "selected" : null)">
                    @dlc
                </option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm mb-2">
        <span class="ps_selected">Selected options</span> will appear in all generated empires. Picking an <span class="ps_prohibited">invalid option</span> or changing DLC will reset everything else.
    </div>
</div>
<div class="row" id="preselect">
    @await Component.InvokeAsync("PreSelect")
</div>
<div class="row justify-content-center" id="empirelist">
    
    
           
    
    
</div>
<div class="fixed-bottom bg-white container p-3">
    <div class="w-100 d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Buttons">
            <button type="button" id="generate" class="btn btn-outline-primary">Generate Empires</button>
            <button type="button" id="showselect"class="btn btn-outline-primary">Show options</button>
        </div>
        
    </div>
</div>

@section Scripts
{
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
}