@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="row">
        <div class="col" id="ps_dlc">
            @Html.ListBoxFor(i => Model.SelectedDLC, Model.DLC, new { id = "dlcselect" })
        </div>
    </div>
    <div class="row" id="preselect">
        @await Component.InvokeAsync("PreSelect")
    </div>


@section Scripts
{
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
}